<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h6><strong>Company</strong></h6>
        <li><a href="#">About</a></li>
        <li><a href="#">Meet the Team</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">FAQ</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>How it works</strong></h6>
        <li><a href="#">Sell Receivables</a></li>
        <li><a href="#">Buy Receivables</a></li>
        <li><a href="#">Regulation A</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Learn</strong></h6>
        <li><a href="#">Factoring 101</a></li>
        <li><a href="#">Equity Crowdfunding</a></li>
        <li><a href="#">Whitepapers</a></li>
        <li><a href="#">Blog</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Join</strong></h6>
        <li><a href="#">Investors Buy</a></li>
        <li><%= link_to 'Entrepreneurs Sell', new_user_registration_path %></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Legalese</strong></h6>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Legal Docs</a></li>
      </div>
      <div class="col-sm-2">
        <p class="text-muted">&copy; 2017 Burgeon Marketplace, Inc. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
